<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>SimpleServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlet2</display-name>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>com.simple.Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/Servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet1</display-name>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>com.simple.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/Servlet11</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet3</display-name>
    <servlet-name>Servlet3</servlet-name>
    <servlet-class>Servlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet3</servlet-name>
    <url-pattern>/Servlet33</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>com.simple.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddTwoServlet</servlet-name>
    <servlet-class>com.simple.AddTwoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTwoServlet</servlet-name>
    <url-pattern>/addTwo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SquareResult</servlet-name>
    <servlet-class>com.simple.SquareResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SquareResult</servlet-name>
    <url-pattern>/SquareResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>com.simple.DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/Demo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MySearchServlet</servlet-name>
    <servlet-class>com.simple.MySearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MySearchServlet</servlet-name>
    <url-pattern>/MySearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.simple.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dynamicServlet</servlet-name>
    <servlet-class>com.simple.dynamicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dynamicServlet</servlet-name>
    <url-pattern>/dynamicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>com.simple.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/SessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cookieServlet</display-name>
    <servlet-name>cookieServlet</servlet-name>
    <servlet-class>com.simple.cookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookieServlet</servlet-name>
    <url-pattern>/cookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cookieServlet2</display-name>
    <servlet-name>cookieServlet2</servlet-name>
    <servlet-class>com.simple.cookieServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookieServlet2</servlet-name>
    <url-pattern>/cookieServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>urlValidate</display-name>
    <servlet-name>urlValidate</servlet-name>
    <servlet-class>com.simple.urlValidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>urlValidate</servlet-name>
    <url-pattern>/urlValidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>First</display-name>
    <servlet-name>First</servlet-name>
    <servlet-class>com.simple.First</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>First</servlet-name>
    <url-pattern>/First</url-pattern>
  </servlet-mapping>
</web-app>